@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>More about Society of Women Engineers</h3>
<div class="row">
    <div class="col-md-10">

        <p>
            For more than six decades, SWE has given women engineers a unique place and voice within the engineering industry. Our organization is centered around a passion for our members' success and continues to evolve with the challenges and opportunities reflected in today's exciting engineering and technology specialties.

            We invite you to explore the values, principles, and priorities that guide our initiatives and learn how together, WE can continue to make a lasting impact on the future.
        </p>
        <p><a class="btn btn-default" href="http://societyofwomenengineers.swe.org/about-swe">Learn more &raquo;</a></p>
    </div>
</div>