@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Society of Women Engineers Contact Information</h3>

<address>
    130 East Randolph Street,<br />
    Suite 3500 Chicago, IL 60601<br />
    <abbr title="Phone">P:</abbr>
    1.877.793.4636
</address>

<address>
    <strong>SWE Contact Email:</strong>   <a href="mailto:hq@swe.org">hq@swe.org</a><br />
 
</address>


