@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Society of Women Engineerig Outreach Assesment Web Portal</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <p><a href="http://societyofwomenengineers.swe.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>GOALS</h2>
        <p>
            Society of Women Engineers is a non-profit organisation. It helps in empowering women to succeed and advance in the field of engineering. SWE offers training and development programs, 
            networking opportunities, scholarships, and outreach and advocacy activities. According to the mission line of SWE “Stimulate women to achieve full potential in careers as engineers and leaders, 
            expand the image of the engineering profession as a positive force in improving the quality of life, and demonstrate the value of diversity.” And Vision is “To be key to the success of women in engineering and technology.”
            Primary Goals of SWE are: Professional excellence, Globalisation, Advocacy. SWE offers support at all levels, from K-12 outreach programs and collegiate sections to professional development in the workplace.
        </p>
        <p><a class="btn btn-default" href="http://societyofwomenengineers.swe.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Outreach Assesment Web Portal</h2>
        <p>After-event surveys are most common type of feedback practice which SWE teams use. These surveys need to be filled by all the participants. Also, these surveys cover wide range of participants from Students to Parents, and from Teachers to Volunteers. Surveys include open-ended questions, multiple choice questions, agree/disagree, true/false and so on. After that, responses are collected and results are analysed. These results are very useful in marketing, maintaining records, getting sponsors.
            This project is an effort to ease the current SWE outreach assessment process. Project involves formulation of a web portal using Dot net supported technologies.
            The high level features of this system will be Survey Administration, Users Administration, Feedback Management, Infographics
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    
</div>