@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Login Failed.</h1>
<h2 class="text-danger">Please Try to Log in Again</h2>


<div>
    @Html.ActionLink("Login", "Index")
</div>
