
@{
    ViewBag.Title = "ChapterLevelMember";
}

<h2>ChapterLevelMember</h2>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            @Html.ActionLink("Users Administration", "UsersList", "Users")

        </div>
        <div class="col-md-10">
            @Html.ActionLink("Manage Surveys", "UsersList")
        </div>
        <div class="col-md-10">
            @Html.ActionLink("Feedbacks", "UsersList")
        </div>
        <div class="col-md-10">
            @Html.ActionLink("Inforgrahics", "UsersList", "Users")
        </div>
    </div>
</div>