
@{
    ViewBag.Title = "NationalLevelMember";
}

<h2>NationalLevelMember</h2>

<div class="form-horizontal">
    <div class="form-group">
        
        <div class="col-md-10">
            @Html.ActionLink("Surveys Administration", "SurveyList", "Survey", new { id = Model.USID }, null)
        </div>

        <div class="col-md-10">
            @Html.ActionLink("Manage Feedbacks", "FeedbackFirst", "ManageFeedback", new { id = Model.USID }, null)
        </div>
        <div class="col-md-10">
            @Html.ActionLink("Infographics", "Infographics", "ManageFeedback", new { id = Model.USID }, null)
        </div>
    </div>
</div>

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Log Out", "Logout", "Login")</li>
</ul>

@section Scripts {
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    $("#Take Survey").hide();
    </script>
 
    }

