
@{
    ViewBag.Title = "NationalLevelMember";
}

<h2>NationalLevelMember</h2>

<div class="form-horizontal">
    <div class="form-group">
        
        <div class="col-md-10">
            @Html.ActionLink("Survey Administration", "UsersList")
        </div>
        <div class="col-md-10">
            @Html.ActionLink("Manage Feedbacks", "UsersList")
        </div>
        <div class="col-md-10">
            @Html.ActionLink("Inforgrahics", "UsersList", "Users")
        </div>
    </div>
</div>