
@{
    ViewBag.Title = "RegionalLevelMember";
}

<h2>RegionalLevelMember</h2>

<div class="form-horizontal">
    <div class="form-group">
        
        <div class="col-md-10">
            @Html.ActionLink("Surveys Administration", "SurveyList", "Survey", new { id = Model.USID }, null)
        </div>

        <div class="col-md-10">
            @Html.ActionLink("Manage Feedbacks", "FeedbackFirst", "ManageFeedback", new { id = Model.USID }, null)
        </div>
        <div class="col-md-10">
            @Html.ActionLink("Inforgrahics", "UsersList", "Users")
        </div>
    </div>
</div>