<head>
    <link href="~/Content/progressbar.css" rel="stylesheet" type="text/css" />
    </head>

<div id="myProgress">
    <div ng-repeat="myBar" id="myBar">10%</div>
</div>

<br>
<button onclick="move()">Click Me</button> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">



function move() {
    var elem = document.getElementById("myBar");
    var width = 10;
    var id = setInterval(frame, 10);
    function frame() {
        if (width >= 100) {
            clearInterval(id);
        } else {
            width++;
            elem.style.width = width + '%';
            elem.innerHTML = width * 1 + '%';
        }
    }
}
</script>