@model SWEN_Dynamo.Models.StudentSurveyModel

@{
    ViewBag.Title = "StudentSurveyDeletedAck";
}

<h2>Survey is deleted successfully. </h2>

<div>
    @Html.ActionLink("Back to Survey List", "SurveyList", new { id = Model.USID })
</div>